.event {
  display: flex;
  width: 1144px;
  height: 594px;
}

.event__slider,
.event__slide {
  width: 752.32px;
  height: 594px;
}

.event__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.event__description {
  position: relative;
  width: 392px;
  height: 594px;
  padding: 73px 46.08px 73px 42.4px;
  border: 1px solid $color-tahiti-gold;
  border-left: none;

  &::before {
    content: "";
    position: absolute;
    top: 86px;
    left: 0;
    z-index: 1;
    display: block;
    width: 34px;
    height: 3px;
    background-color: $color-tahiti-gold;
  }
}

.event__description p {
  margin-top: 0;
  margin-bottom: 94px;
  padding-left: 2px;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.05em;
}

.event__description .button {
  margin-right: 16px;
  padding: 2px 9px;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: normal;
  pointer-events: none;

  &--tmk-group {
    position: relative;
    padding-left: 20px;
    padding-right: 8px;
    font-weight: bold;
    background-color: $color-tahiti-gold;
    color: $color-white;

    &::before {
      content: "";
      position: absolute;
      top: 9px;
      left: 9px;
      display: block;
      width: 5px;
      height: 5px;
      background-color: $color-white;
      border-radius: 50%;
    }
  }
}

.event__pagination.swiper-pagination {
  bottom: 42px;
}

.event__pagination-item,
.event__pagination-current-item {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 4.19px;
  vertical-align: middle;
  border: 2px solid rgba($color-default-white, 0.8);
  border-radius: 50%;
  cursor: pointer;
}

.event__pagination-current-item {
  background-color: $color-default-white;
  border-color: $color-default-white;
}


.event__button-next,
.event__button-prev {
  position: absolute;
  top: 284px;
  left: 32px;
  z-index: 1;
  display: block;
  margin: 0;
  padding: 0;
  background-color: transparent;
  width: 16;
  height: 27px;
  border: none;
  cursor: pointer;

  &:hover svg,
  &:focus svg {
    opacity: 1;
  }

  &:active svg {
    stroke: $color-gainsboro-2;
    filter: none;
  }
}

.event__button-next {
  left: 713px;
  transform: rotate(180deg);
}

.event__button-next svg,
.event__button-prev svg {
  stroke: $color-default-white;
  fill: none;
  opacity: 0.7;
  transition: opacity $default-transition-settings,
    stroke $default-transition-settings,
    filter $default-transition-settings;
  filter: drop-shadow(0 0 10px rgba($color-default-black, 0.25));
}

.event__button-prev.swiper-button-disabled,
.event__button-next.swiper-button-disabled {
  pointer-events: none;
}
