.event {
  display: flex;
  width: 1144px;
  height: 594px;

  @include viewport--sm {
    flex-direction: column;
    width: 100%;
    height: auto;
  }
}

.event__slider,
.event__slide {
  width: 752px;
  height: 594px;

  @include viewport--sm {
    order: -2;
    width: 375px;
    height: 377px;
    margin: 0;
    overflow: visible;
  }
}

.event__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.event__description {
  position: relative;
  width: 392px;
  height: 594px;
  padding: 73px 42px;
  border: 1px solid $color-tahiti-gold;
  border-left: none;

  &::before {
    content: "";
    position: absolute;
    top: 86px;
    left: 0;
    z-index: 1;
    display: block;
    width: 34px;
    height: 3px;
    background-color: $color-tahiti-gold;
  }

  @include viewport--sm {
    display: contents;
    height: auto;
    border: none;
    padding: 104px 0 73px 0;
    padding-top: 0;

    &::before {
      top: 0;
      left: 0;
      right: 0;
      width: 375px;
      height: 104px;
    }
  }
}

.event__text-container {
  height: 290px;
  margin-bottom: 55px;
  margin-right: -15px;
  padding-right: 15px;
  padding-left: 2px;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.05em;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 5px;
  }

  @include viewport--sm {
    // order: 1;
    display: contents;
    height: 179px;
    padding-left: 0;
    overflow: visible;
  }
}

.event__header {
  @include viewport--sm {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
    order: -3;
  }
}

.event__description h3 {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 24px;
  line-height: 25px;
  color: $color-tahiti-gold;

  @include viewport--sm {
    width: 375px;
    margin-bottom: 0;
    padding: 48px 107px 31px 24px;
    color: $color-default-white;
    box-shadow: 0 4px 10px rgba(94, 94, 94, 0.1);
    letter-spacing: normal;
  }
}

.event__description p {
  margin: 0;

  & + p {
    margin-top: 1em;
  }

  @include viewport--sm {
    width: 375px;
    padding: 0 24px 104px 24px;
    background-color: $color-default-white;
  }
}

.event__tag-container {
  @include viewport--sm {
    order: -1;
    width: 375px;
    // margin-top: 16px;
    // margin-bottom: 14px;
    padding: 16px 24px 14px 24px;
    background-color: $color-default-white;
  }
}

.event__description .button {
  margin-right: 16px;
  padding: 2px 9px;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: normal;
  pointer-events: none;

  &--tmk-group,
  &--stz,
  &--vtz,
  &--tmk-artrom,
  &--tmk-ipsco,
  &--tagmet,
  &--sin-tz,
  &--ktp,
  &--omz,
  &--tmk-gipi,
  &--tmk-resita {
    position: relative;
    padding-left: 20px;
    padding-right: 8px;
    font-weight: bold;
    background-color: $color-tahiti-gold;
    color: $color-white;

    &::before {
      content: "";
      position: absolute;
      top: 9px;
      left: 9px;
      display: block;
      width: 5px;
      height: 5px;
      background-color: $color-white;
      border-radius: 50%;

      @include viewport--sm {
        display: none;
      }
    }
  }

  &--tmk-group {
    background-color: $color-tahiti-gold;

    @include viewport--sm {
      color: $color-tahiti-gold;
    }
  }

  &--stz {
    background-color: $color-san-marino;

    @include viewport--sm {
      color: $color-san-marino;
    }
  }

  &--vtz {
    background-color: $color-mandy;

    @include viewport--sm {
      color: $color-mandy;
    }
  }

  &--tmk-artrom {
    background-color: $color-beaver;

    @include viewport--sm {
      color: $color-beaver;
    }
  }

  &--tmk-ipsco {
    background-color: $color-scarlet;

    @include viewport--sm {
      color: $color-scarlet;
    }
  }

  &--tagmet {
    background-color: $color-fruit-salad;

    @include viewport--sm {
      color: $color-fruit-salad;
    }
  }

  &--sin-tz {
    background-color: $color-gulf-stream;

    @include viewport--sm {
      color: $color-gulf-stream;
    }
  }

  &--ktp {
    background-color: $color-cream-can;

    @include viewport--sm {
      color: $color-cream-can;
    }
  }

  &--omz {
    background-color: $color-bouquet;

    @include viewport--sm {
      color: $color-bouquet;
    }
  }

  &--tmk-gipi {
    background-color: $color-wewak;

    @include viewport--sm {
      color: $color-wewak;
    }
  }

  // &--tmk-resita {
  //   background-color: $color-martini;

  //   @include viewport--sm {
  //     color: $color-martini;
  //   }
  // }

  @include viewport--sm {
    padding: 2.5px 18px 2.5px 14px;
    margin-right: 4px;
    margin-bottom: 8px;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    background-color: $color-default-white;

    &--enterprises {
      padding: 2.5px 21px 2.5px 19px;
    }
  }
}

.event__pagination.swiper-pagination {
  bottom: 42px;
}

.event__pagination-item,
.event__pagination-current-item {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 4.19px;
  vertical-align: middle;
  border: 2px solid rgba($color-default-white, 0.8);
  border-radius: 50%;
  cursor: pointer;
}

.event__pagination-current-item {
  background-color: $color-default-white;
  border-color: $color-default-white;
}


.event__button-next,
.event__button-prev {
  position: absolute;
  top: calc(50% - 45px);
  left: 20px;
  z-index: 1;
  display: block;
  margin: 0;
  padding: 0;
  background-color: transparent;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  outline: none;

  @include viewport--sm {
    display: none;
  }
}

.event__button-next {
  left: 701px;
  transform: rotate(180deg);
}

.event__button-next svg,
.event__button-prev svg {
  stroke: $color-tahiti-gold;
  fill: none;
  opacity: 1;
  filter: drop-shadow(0 0 10px rgba($color-default-black, 0.25));
}

.event__button-prev.swiper-button-disabled,
.event__button-next.swiper-button-disabled {
  pointer-events: none;
  opacity: 0.4;
}

.event__description .modal__close-btn {
  display: none;

  @include viewport--sm {
    position: absolute;
    top: 40px;
    right: 24px;
    z-index: 2;
    display: block;
    width: 40px;
    height: 40px;
    border: 1.5px solid $color-default-white;
    border-radius: 50%;
  }
}
