.footer {
  display: block;
  min-height: 115px;
  margin-top: 36px;
  padding-bottom: 55px;

  &--hidden {
    display: none;
  }
}

.footer .container {
  display: flex;
}

.footer__social {
  display: flex;
  flex-wrap: wrap;
  width: 130px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__social-item {
  display: flex;
  flex-direction: column;
  margin-right: 8px;
  margin-bottom: 8px;
}

.footer__social-link {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  margin-bottom: 15px;
  outline: none;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    top: -50%;
    left: -50%;
  }

  &:hover svg,
  &:focus svg {
    fill: $color-tahiti-gold;
  }

  &:active svg {
    opacity: 0.7;
  }
}

.footer__social-link svg {
  fill: $color-silver;
  transition: fill $default-transition-settings,
    opacity $default-transition-settings;
}

.footer__filter {
  position: relative;
  width: 670px;
  min-height: 160px;
  padding-left: 63px;
  border-left: 1px solid $color-grey;

  &--events {
    width: 433px;
    margin-left: auto;
    padding-left: 64px;
  }
}

.footer__filter h2 {
  position: absolute;
  top: 38px;
  left: -31px;
  display: inline-block;
  margin: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  vertical-align: middle;
  text-transform: uppercase;
  color: $color-zambezi;
  transform: rotate(-90deg);
}

.footer__filter--events h2 {
  top: 23px;
  left: -17px;
}

.footer__filter p {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: $color-silver;
}

.footer__filter ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__filter li {
  margin-right: 21px;
  margin-bottom: 19px;
}

.footer__filter .button {
  position: relative;
  outline: none;

  &::before {
    content: "";
    position: absolute;
    top: 9px;
    left: 9px;
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
  }

  &--tmk-group,
  &--stz,
  &--vtz,
  &--tmk-artrom,
  &--tmk-ipsco,
  &--tagmet,
  &--sin-tz,
  &--ktp,
  &--omz,
  &--tmk-gipi,
  &--tmk-resita {
    margin-right: 0;
    margin-bottom: 0;
    padding: 3px 9px 3px 19px;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: normal;
    border-color: $color-gainsboro-2;

    & span:nth-child(2n + 2) {
      position: absolute;
      visibility: hidden;
      overflow: hidden;
      opacity: 0;
    }

    &:hover {
      span:nth-child(2n + 1) {
        position: absolute;
        visibility: hidden;
        overflow: hidden;
        opacity: 0;
      }

      span:nth-child(2n + 2) {
        position: static;
        display: block;
        visibility: visible;
        overflow: auto;
        opacity: 1;
      }
    }
  }

  &--tmk-group {
    &::before {
      background-color: $color-tahiti-gold;
    }

    &.button--active {
      color: $color-white;
      background-color: $color-tahiti-gold;
      border-color: $color-tahiti-gold;

      &::before {
        background-color: $color-white;
      }
    }
  }

  &--stz {
    &::before {
      background-color: $color-san-marino;
    }

    &.button--active {
      color: $color-white;
      background-color: $color-san-marino;
      border-color: $color-san-marino;

      &::before {
        background-color: $color-white;
      }
    }
  }

  &--vtz {
    &::before {
      background-color: $color-mandy;
    }

    &.button--active {
      color: $color-white;
      background-color: $color-mandy;
      border-color: $color-mandy;

      &::before {
        background-color: $color-white;
      }
    }
  }

  &--tmk-artrom {
    &::before {
      background-color: $color-beaver;
    }

    &.button--active {
      color: $color-white;
      background-color: $color-beaver;
      border-color: $color-beaver;

      &::before {
        background-color: $color-white;
      }
    }
  }

  &--tmk-ipsco {
    &::before {
      background-color: $color-scarlet;
    }

    &.button--active {
      color: $color-white;
      background-color: $color-scarlet;
      border-color: $color-scarlet;

      &::before {
        background-color: $color-white;
      }
    }
  }

  &--tagmet {
    &::before {
      background-color: $color-fruit-salad;
    }

    &.button--active {
      color: $color-white;
      background-color: $color-fruit-salad;
      border-color: $color-fruit-salad;

      &::before {
        background-color: $color-white;
      }
    }
  }

  &--sin-tz {
    &::before {
      background-color: $color-gulf-stream;
    }

    &.button--active {
      color: $color-white;
      background-color: $color-gulf-stream;
      border-color: $color-gulf-stream;

      &::before {
        background-color: $color-white;
      }
    }
  }

  &--ktp {
    &::before {
      background-color: $color-cream-can;
    }

    &.button--active {
      color: $color-white;
      background-color: $color-cream-can;
      border-color: $color-cream-can;

      &::before {
        background-color: $color-white;
      }
    }
  }

  &--omz {
    &::before {
      background-color: $color-bouquet;
    }

    &.button--active {
      color: $color-white;
      background-color: $color-bouquet;
      border-color: $color-bouquet;

      &::before {
        background-color: $color-white;
      }
    }
  }

  &--tmk-gipi {
    &::before {
      background-color: $color-wewak;
    }

    &.button--active {
      color: $color-white;
      background-color: $color-wewak;
      border-color: $color-wewak;

      &::before {
        background-color: $color-white;
      }
    }
  }

  &--tmk-resita {
    &::before {
      background-color: $color-martini;
    }

    &.button--active {
      color: $color-white;
      background-color: $color-martini;
      border-color: $color-martini;

      &::before {
        background-color: $color-white;
      }
    }
  }
}

.footer__filter--events .button {
  &--events {
    margin-right: 0;
    margin-bottom: 0;
    padding: 2px 9px;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: normal;

    // &:hover,
    // &:focus {
    //   color: $color-white;
    // }
  }

  &--active {
    color: $color-white;
    background-color: $color-grey;
    border-color: $color-grey;
  }
}
