.pagination {
  z-index: 3;
  margin: 0;
  margin-left: 22px;
  padding: 0;
  text-align: start;
  list-style: none;

  @include viewport--sm {
    position: fixed;
    top: 139px;
    left: 0;
    right: 0;
    z-index: 2;
    display: flex;
    width: 375px;
    // position: relative;
    margin-left: 0;
    padding-bottom: 20px;
    padding-left: 24px;
    background-color: $color-default-white;
    overflow-x: auto;
  }
}

.pagination__item {
  position: relative;
  display: inline-block;
  width: 51px;
  height: 23px;
  margin: 0;
  margin-right: 14px;
  padding: 0 3px 2px 3px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  vertical-align: middle;
  text-align: center;
  background-color: transparent;
  color: $color-grey;
  border: 0;
  border-radius: 11.5px;
  transition: color $default-transition-settings,
    background-color $default-transition-settings;
  letter-spacing: -0.02em;
  outline: none;
  cursor: pointer;

  &:active,
  &:focus {
    outline: none;
  }

  &:not(:last-child)::before {
    content: "";
    position: absolute;
    top: 10px;
    right: -8px;
    width: 3px;
    height: 2px;
    background-color: $color-tahiti-gold;
    border-radius: 50%;
  }

  &:hover:not(.pagination__current-item),
  &:focus:not(.pagination__current-item) {
    color: $color-matterhorn;
  }

  @include viewport--sm {
    padding: 0 10px 2px 8px;
  }
}

.pagination__current-item {
  background-color: $color-tahiti-gold;
  color: $color-default-white;
  pointer-events: none;
}
