.popup {
  position: relative;

  .popup-slider__button-next,
  .popup-slider__button-prev {
    outline: none;
  }

  &--tmk-group {
    .popup-slider__button-next,
    .popup-slider__button-prev {
      border-color: $color-tahiti-gold;
      transition: border-color $default-transition-settings,
        background-color $default-transition-settings;

      svg {
        stroke: $color-tahiti-gold;
        transition: stroke $default-transition-settings;
      }

      &:active {
        background-color: $color-tahiti-gold;
      }
    }

    .event__description {
      border-color: $color-tahiti-gold;
      transition: border-color $default-transition-settings;

      &::before {
        background-color: $color-tahiti-gold;
        transition: background-color $default-transition-settings;

        @include viewport--sm {
          display: none;
        }
      }
    }

    h3 {
      @include viewport--sm {
        background-color: $color-tahiti-gold;
      }
    }
  }

  &--stz {
    .popup-slider__button-next,
    .popup-slider__button-prev {
      border-color: $color-san-marino;
      transition: border-color $default-transition-settings,
        background-color $default-transition-settings;

      svg {
        stroke: $color-san-marino;
        transition: stroke $default-transition-settings;
      }

      &:active {
        background-color: $color-san-marino;
      }
    }

    .event__description {
      border-color: $color-san-marino;
      transition: border-color $default-transition-settings;

      &::before {
        background-color: $color-san-marino;
        transition: background-color $default-transition-settings;

        @include viewport--sm {
          display: none;
        }
      }
    }

    h3 {
      @include viewport--sm {
        background-color: $color-san-marino;
      }
    }
  }

  &--vtz {
    .popup-slider__button-next,
    .popup-slider__button-prev {
      border-color: $color-mandy;
      transition: border-color $default-transition-settings,
        background-color $default-transition-settings;

      svg {
        stroke: $color-mandy;
        transition: stroke $default-transition-settings;
      }

      &:active {
        background-color: $color-mandy;
      }
    }

    .event__description {
      border-color: $color-mandy;
      transition: border-color $default-transition-settings;

      &::before {
        background-color: $color-mandy;
        transition: background-color $default-transition-settings;

        @include viewport--sm {
          display: none;
        }
      }
    }

    h3 {
      @include viewport--sm {
        background-color: $color-mandy;
      }
    }
  }

  &--tmk-artrom {
    .popup-slider__button-next,
    .popup-slider__button-prev {
      border-color: $color-beaver;
      transition: border-color $default-transition-settings,
        background-color $default-transition-settings;

      svg {
        stroke: $color-beaver;
        transition: stroke $default-transition-settings;
      }

      &:active {
        background-color: $color-beaver;
      }
    }

    .event__description {
      border-color: $color-beaver;
      transition: border-color $default-transition-settings;

      &::before {
        background-color: $color-beaver;
        transition: background-color $default-transition-settings;

        @include viewport--sm {
          display: none;
        }
      }
    }

    h3 {
      @include viewport--sm {
        background-color: $color-beaver;
      }
    }
  }

  &--tmk-ipsco {
    .popup-slider__button-next,
    .popup-slider__button-prev {
      border-color: $color-scarlet;
      transition: border-color $default-transition-settings,
        background-color $default-transition-settings;

      svg {
        stroke: $color-scarlet;
        transition: stroke $default-transition-settings;
      }

      &:active {
        background-color: $color-scarlet;
      }
    }

    .event__description {
      border-color: $color-scarlet;
      transition: border-color $default-transition-settings;

      &::before {
        background-color: $color-scarlet;
        transition: background-color $default-transition-settings;

        @include viewport--sm {
          display: none;
        }
      }
    }

    h3 {
      @include viewport--sm {
        background-color: $color-scarlet;
      }
    }
  }

  &--tagmet {
    .popup-slider__button-next,
    .popup-slider__button-prev {
      border-color: $color-fruit-salad;
      transition: border-color $default-transition-settings,
        background-color $default-transition-settings;

      svg {
        stroke: $color-fruit-salad;
        transition: stroke $default-transition-settings;
      }

      &:active {
        background-color: $color-fruit-salad;
      }
    }

    .event__description {
      border-color: $color-fruit-salad;
      transition: border-color $default-transition-settings;

      &::before {
        background-color: $color-fruit-salad;
        transition: background-color $default-transition-settings;

        @include viewport--sm {
          display: none;
        }
      }
    }

    h3 {
      @include viewport--sm {
        background-color: $color-fruit-salad;
      }
    }
  }

  &--sin-tz {
    .popup-slider__button-next,
    .popup-slider__button-prev {
      border-color: $color-gulf-stream;
      transition: border-color $default-transition-settings,
        background-color $default-transition-settings;

      svg {
        stroke: $color-gulf-stream;
        transition: stroke $default-transition-settings;
      }

      &:active {
        background-color: $color-gulf-stream;
      }
    }

    .event__description {
      border-color: $color-gulf-stream;
      transition: border-color $default-transition-settings;

      &::before {
        background-color: $color-gulf-stream;
        transition: background-color $default-transition-settings;

        @include viewport--sm {
          display: none;
        }
      }
    }

    h3 {
      @include viewport--sm {
        background-color: $color-gulf-stream;
      }
    }
  }

  &--ktp {
    .popup-slider__button-next,
    .popup-slider__button-prev {
      border-color: $color-cream-can;
      transition: border-color $default-transition-settings,
        background-color $default-transition-settings;

      svg {
        stroke: $color-cream-can;
        transition: stroke $default-transition-settings;
      }

      &:active {
        background-color: $color-cream-can;
      }
    }

    .event__description {
      border-color: $color-cream-can;
      transition: border-color $default-transition-settings;

      &::before {
        background-color: $color-cream-can;
        transition: background-color $default-transition-settings;

        @include viewport--sm {
          display: none;
        }
      }
    }

    h3 {
      @include viewport--sm {
        background-color: $color-cream-can;
      }
    }
  }

  &--omz {
    .popup-slider__button-next,
    .popup-slider__button-prev {
      border-color: $color-bouquet;
      transition: border-color $default-transition-settings,
        background-color $default-transition-settings;

      svg {
        stroke: $color-bouquet;
        transition: stroke $default-transition-settings;
      }

      &:active {
        background-color: $color-bouquet;
      }
    }

    .event__description {
      border-color: $color-bouquet;
      transition: border-color $default-transition-settings;

      &::before {
        background-color: $color-bouquet;
        transition: background-color $default-transition-settings;

        @include viewport--sm {
          display: none;
        }
      }
    }

    h3 {
      @include viewport--sm {
        background-color: $color-bouquet;
      }
    }
  }

  &--tmk-gipi {
    .popup-slider__button-next,
    .popup-slider__button-prev {
      border-color: $color-wewak;
      transition: border-color $default-transition-settings,
        background-color $default-transition-settings;

      svg {
        stroke: $color-wewak;
        transition: stroke $default-transition-settings;
      }

      &:active {
        background-color: $color-wewak;
      }
    }

    .event__description {
      border-color: $color-wewak;
      transition: border-color $default-transition-settings;

      &::before {
        background-color: $color-wewak;
        transition: background-color $default-transition-settings;

        @include viewport--sm {
          display: none;
        }
      }
    }

    h3 {
      @include viewport--sm {
        background-color: $color-wewak;
      }
    }
  }

  // &--tmk-resita {
  //   .popup-slider__button-next,
  //   .popup-slider__button-prev {
  //     border-color: $color-martini;
  //     transition: border-color $default-transition-settings,
  //       background-color $default-transition-settings;

  //     svg {
  //       stroke: $color-martini;
  //       transition: stroke $default-transition-settings;
  //     }

  //     &:active {
  //       background-color: $color-martini;
  //     }
  //   }

  //   .event__description {
  //     border-color: $color-martini;
  //     transition: border-color $default-transition-settings;

  //     &::before {
  //       background-color: $color-martini;
  //       transition: background-color $default-transition-settings;

  //       @include viewport--sm {
  //         display: none;
  //       }
  //     }
  //   }

  //   h3 {
  //     @include viewport--sm {
  //       background-color: $color-martini;
  //     }
  //   }
  // }

  @include viewport--sm {
    height: 100vh;
  }
}
