.preloader {
  position: fixed;
  display: block;
  width: 100%;
  // height: 100vh;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 80px;
  background-image: url("../img/bg/bg-start@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow-y: auto;

  &--hidden {
    display: none;
  }

  @include retina {
    background-image: url("../img/bg/bg-start@2x.jpg");
  }

  @media (max-width: 1200px) {
    padding-left: 4.884%;
  }
}

.preloader__container {
  display: flex;
  justify-content: space-between;
  max-width: 934px;
  height: calc(100vh - 78px);
  margin: 0 auto;
  padding-left: 56px;
  padding-right: 20px;
}

.preloader__col-1 {
  margin-right: 38px;
}

.preloader a {
  display: block;
  margin-top: 12px;
  margin-bottom: 205px;

  &:last-child {
    margin-bottom: 0;
  }
}

.preloader img {
  width: 175px;
  height: 94px;
}

.preloader__button {
  display: inline-block;
  width: max-content;
  margin: 0 0 7px 1px;
  padding: 15px 41px;
  font-size: 25px;
  line-height: 25px;
  text-align: center;
  vertical-align: middle;
  background: $color-tahiti-gold;
  color: $color-default-white;
  border: 0;
  border-radius: 45px;
  letter-spacing: 0.05em;
  transition: background $default-transition-settings,
    box-shadow $default-transition-settings;
  cursor: pointer;
  outline: none;

  &:hover,
  &:focus {
    background: linear-gradient(180deg, rgba($color-default-white, 0.177) 0%, rgba($color-default-white, 0.24) 5.72%, rgba($color-default-white, 0) 73.21%), $color-tahiti-gold;
    box-shadow: 0 10px 15px rgba($color-default-black, 0.1);
  }

  &:active {
    background: $color-tahiti-gold;
    box-shadow: inset 0 0 5px rgba($color-default-black, 0.25);
  }
}

.preloader__col-2 {
  max-width: 610px;
  height: auto;
  margin-bottom: 80px;
  overflow-y: auto;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.preloader h1 {
  margin: 0;
  margin-bottom: 41px;
  font-weight: 900;
  font-size: 90px;
  line-height: 90px;
  color: $color-tahiti-gold;
}

.preloader p {
  margin: 0;
  margin-bottom: 27px;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.05em;
}
