.time-line {
  @include viewport--sm {
    width: 375px;
    height: 100vh;
    padding-top: 182px;
    padding-bottom: 124px;
  }
}

.time-line__wrapper {
  position: relative;
  max-width: 1390px;
  margin: 0 auto;

  @include viewport--sm {
    max-width: 375px;
  }
}

.time-line__text-container {
  position: absolute;
  left: 26px;
  top: 119px;
  width: 170px;
  height: 80px;
  overflow: hidden;

  @include viewport--sm {
    position: relative;
    left: 65px;
    top: -22px;
    width: 90px;
    height: 40px;
  }
}

.time-line__wrapper > p,
.time-line__text-container p {
  position: absolute;
  top: 64px;
  left: 26px;
  display: block;
  margin: 0;
  font-weight: 800;
  font-size: 90px;
  line-height: 40px;
  color: $color-tahiti-gold;
  letter-spacing: -0.03em;
  z-index: 20;

  @include viewport--sm {
    position: relative;
    font-size: 36px;
    line-height: 40px;
    z-index: 0;
  }
}

.time-line__wrapper > p {
  @include viewport--sm {
    top: 18px;
    left: 24px;
  }
}

.time-line__text-container p {
  top: 12px;
  left: 0;

  &:nth-child(2n + 2) {
    left: 57px;

    @include viewport--sm {
      top: -40px;
      left: 21px;
    }
  }

  @include viewport--sm {
    top: 0;
  }
}

.time-line__button-prev,
.time-line__button-next {
  position: absolute;
  top: 325px;
  left: 31px;
  z-index: 1;
  display: block;
  margin: 0;
  padding: 0;
  background-color: transparent;
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
  outline: none;

  @include viewport--sm {
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid $color-tahiti-gold;
    border-radius: 50%;

    &:hover svg {
      transform: scale(1.3);
      transition: transform $default-transition-settings;
    }
  }
}

.time-line__button-next {
  top: 325px;
  left: 81px;
  transform: rotate(180deg);

  @include viewport--sm {
    top: 0;
    left: 17px;
  }
}

.time-line__button-next svg,
.time-line__button-prev svg {
  fill: $color-tahiti-gold;
  transition: fill $default-transition-settings;
  opacity: 1;

  & > path {
    display: none;
  }

  @include viewport--sm {
    & use {
      display: none;
    }

    & > path {
      display: block;
      fill: none;
      stroke: $color-tahiti-gold;
    }
  }
}

.time-line__button-prev.swiper-button-disabled,
.time-line__button-next.swiper-button-disabled {
  pointer-events: none;

  @include viewport--sm {
    border-color: $color-gainsboro-2;
  }
}

.time-line__button-prev.swiper-button-disabled svg,
.time-line__button-next.swiper-button-disabled svg {
  fill: $color-gainsboro-2;

  @include viewport--sm {
    path:nth-child(2) {
      fill: none;
      stroke: $color-gainsboro-2;
    }
  }
}

.time-line__navigation-container {
  @include viewport--sm {
    display: flex;
    width: 327px;
    margin: 0 24px 116px 24px;
  }
}

.time-line__navigation-container p {
  display: none;

  @include viewport--sm {
    display: block;
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 40px;
    color: $color-tahiti-gold;
    // vertical-align: middle;
  }
}

.time-line__navigation-container .time-line__count-prev {
  @include viewport--sm {
    margin-left: 16px;
  }
}

.time-line__navigation-container .time-line__count-next {
  @include viewport--sm {
    margin-left: 121px;
  }
}
