<div class="filter">
  <div class="filter__header">
    <h3>Фильтр событий по тегам</h3>
    <button class="modal__close-btn btn-reset" type="button" aria-label="Закрыть попап">
      <svg width="15" height="15">
        <use xlink:href="#icon-close"></use>
      </svg>
    </button>
  </div>

  <div class="filter__enterprises">
    <h2>предприятия</h2>
    <ul class="filter__enterprises-list enterprises-filter"></ul>
  </div>

  <div class="filter__events">
    <h2>События</h2>
    <ul class="filter__events-list events-filter"></ul>
  </div>
</div>
