<section class="popup">
  <div class="popup-slider">
    <div class="popup-slider__slide swiper-slide">
      <article class="event">
        <div class="event__slider swiper-container">
          <div class="swiper-wrapper"></div>
          <!-- Пагинация -->
          <div class="event__pagination swiper-pagination"></div>
          <!-- Кнопки навигации -->
          <button id="event__button-prev" class="event__button-prev" type="button">
            <svg width="16" height="27">
              <use xlink:href="#icon-button-prev"></use>
            </svg>
          </button>
          <!--  -->
          <button id="event__button-next" class="event__button-next" type="button">
            <svg width="16" height="27">
              <use xlink:href="#icon-button-prev"></use>
            </svg>
          </button>
        </div>
        <!--  -->
        <div class="event__description">
          <div class="event__text-container">
            <div class="event__header">
              <h3></h3>
              <button class="modal__close-btn btn-reset" type="button" aria-label="Закрыть попап">
                <svg width="15" height="15">
                  <use xlink:href="#icon-close"></use>
                </svg>
              </button>
            </div>
            <p></p>
          </div>
          <div class="event__tag-container">
            <span class="button button--events">#производство</span>
            <span class="button button--enterprises button--tmk-group">ТМК-Групп</span>
          </div>
        </div>
      </article>
    </div>
    <!-- Кнопки навигации -->
    <p class="popup-slider__events">События в&nbsp;рамках года</p>
    <button class="popup-slider__button-prev" type="button">
      <svg width="10" height="14">
        <use xlink:href="#icon-button-next"></use>
      </svg>
    </button>
    <button class="popup-slider__button-next" type="button">
      <svg width="10" height="14">
        <use xlink:href="#icon-button-next"></use>
      </svg>
    </button>
  </div>
</section>
