<section class="event">
  <div class="event__slider swiper-container">
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="event__slide swiper-slide">
        <picture>
          <!-- 1х: 433px; 2x: 866px -->
          <source type="image/webp" srcset="img/slides/slides-photo-1@1x.webp 1x, img/slides/slides-photo-1@2x.webp 2x">
          <!-- 1х: 433px; 2x: 866px -->
          <img src="img/slides/slides-photo-1@1x.jpg" alt="photo-1" width="433" height="320"
            srcset="img/slides/slides-photo-1@1x.jpg 2x" loading="lazy">
        </picture>
      </div>
      <!--  -->
      <div class="event__slide swiper-slide">
        <picture>
          <!-- 1х: 433px; 2x: 866px -->
          <source type="image/webp" srcset="img/slides/slides-photo-1@1x.webp 1x, img/slides/slides-photo-1@2x.webp 2x">
          <!-- 1х: 433px; 2x: 866px -->
          <img src="img/slides/slides-photo-1@1x.jpg" alt="photo-1" width="433" height="320"
            srcset="img/slides/slides-photo-1@1x.jpg 2x" loading="lazy">
        </picture>
      </div>
      <!--  -->
      <div class="event__slide swiper-slide">
        <picture>
          <!-- 1х: 433px; 2x: 866px -->
          <source type="image/webp" srcset="img/slides/slides-photo-1@1x.webp 1x, img/slides/slides-photo-1@2x.webp 2x">
          <!-- 1х: 433px; 2x: 866px -->
          <img src="img/slides/slides-photo-1@1x.jpg" alt="photo-1" width="433" height="320"
            srcset="img/slides/slides-photo-1@1x.jpg 2x" loading="lazy">
        </picture>
      </div>
    </div>

    <div class="swiper-pagination"></div>

    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
  <!--  -->
  <div class="event__description">
    <p>В&nbsp;2001 году в&nbsp;форме закрытого акционерного общества создана Трубная Металлургическая Компания (ТМК). Также для совершения операций по&nbsp;продаже продукции и&nbsp;закупке сырья и основных материалов создан Торговый дом ТМК (ТД&nbsp;ТМК).</p>
    <span class="button button--events">#производство</span>
    <span class="button button--tmk-group">ТМК-Групп</span>
  </div>
</section>
