// Colors
//---------------------------------
// https://www.htmlcsscolor.com/hex/334482

// Default

$color-default-black:               #000000;
$color-default-white:               #ffffff;
$color-transparent:                 rgba(255, 255, 255, 0);

// Base
$color-tahiti-gold:                 #ee732c;
$color-san-marino:                  #49709f;
$color-mandy:                       #da4a54;
$color-gulf-stream:                 #73b3ac;
$color-fruit-salad:                 #569c4b;
$color-cream-can:                   #eac54e;
$color-bouquet:                     #a8709a;
$color-wewak:                       #fb94a2;
$color-beaver:                      #936c59;
$color-martini:                     #b4aaa6;
$color-scarlet:                     #f11e1e;

$color-white:                       #f2f2f2;
$color-grey:                        #828282;
$color-zambezi:                     #5e5e5e;
$color-matterhorn:                  #4f4f4f;
$color-gainsboro:                   #e3e3e3;
$color-silver:                      #bdbdbd;
$color-gainsboro-2:                 #e0e0e0;
$color-persian-red:                 #c33d3d;
$color-whisper:                     rgba(231, 231, 231, 0.886179);

// Gradient
$white-transparent-silver-to-bottom-right: linear-gradient(153.31deg, $color-default-white 20.72%, $color-transparent 135.93%),
  linear-gradient(0deg, $color-silver, $color-silver);
$white-transparent-gainsboro-to-bottom: linear-gradient(180deg, $color-default-white 0%, $color-transparent 100%),
  linear-gradient(0deg, $color-gainsboro-2, $color-gainsboro-2);
$tahiti-gold-transparent-persian-red-to-bottom: linear-gradient(180deg, $color-tahiti-gold 0%, $color-transparent 100%),
  linear-gradient(0deg, $color-persian-red, $color-persian-red);

// Typography
//---------------------------------
$font-family--raleway:              "Raleway", "Arial", sans-serif;
$font-family--montserrat:           "Montserrat", "Verdana", sans-serif;

// Animation
//---------------------------------

$default-transition-settings:       0.3s ease;
$modal-transition-settings:         0.6s cubic-bezier(0.55, 0, 0.1, 1);

// Viewports
//---------------------------------

$viewport--sm:                      320px;
$viewport--md:                      768px;
$viewport--lg:                      1024px;
$viewport--xl:                      1440px;
$viewport--xxl:                     1920px;

// Retina
//---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
